.P_NAVPANEL .P_NAVPANEL_SUBMENU_BLOCK {
	margin-left: 0px !important;
	padding-left: 0px !important;
}

.P_NAVPANEL .P_NAVPANEL_MENU_BLOCK .P_NAVPANEL_SUBMENU .P_NAVPANEL_ITEM .G_LINK div {
	text-indent: 0 !important;
	font-weight: normal;
}

.P_NAVPANEL .P_NAVPANEL_GROUP {
	font-weight: normal !important;
}

a.G-LINK {
	color: #1155cc;
}